apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: egov-fileupload-pvc-nfs
  namespace: egov-app
spec:
  accessModes:
    - ReadWriteMany 
  resources:
    requests:
      storage: 5Gi  
  storageClassName: nfs 