# Local Path PersistentVolumeClaim
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: egov-search-config-pvc-local
  namespace: egov-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
