apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: egov-search-config-pvc-nfs
  namespace: egov-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs
