apiVersion: v1
kind: ServiceAccount
metadata:
  name: loki
  namespace: egov-monitoring
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loki
  namespace: egov-monitoring
data:
  loki.yaml: |
    auth_enabled: false
    server:
      http_listen_port: 3100
      grpc_listen_port: 9096
    
    common:
      path_prefix: /data/loki
      storage:
        filesystem:
          chunks_directory: /data/loki/chunks
          rules_directory: /data/loki/rules
      replication_factor: 1
      ring:
        kvstore:
          store: inmemory

    schema_config:
      configs:
        - from: 2020-10-24
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    ruler:
      alertmanager_url: http://localhost:9093

    storage_config:
      tsdb_shipper:
        active_index_directory: /data/loki/tsdb-shipper-active
        cache_location: /data/loki/tsdb-shipper-cache
        cache_ttl: 24h
      filesystem:
        directory: /data/loki/chunks

    compactor:
      working_directory: /data/loki/compactor
      compaction_interval: 10m
      retention_enabled: true
      retention_delete_delay: 2h
      retention_delete_worker_count: 150
      delete_request_store: filesystem

    #로그 용량 관련 기능 활성화
    limits_config:
      volume_enabled: true # 로그 볼륨기능 활성화
      discover_log_levels: true # 로그 레벨 자동 탐지 (Loki 3.x+)
      retention_period: 720h # 로그를 보관할 기간(30일)

    # 패턴 감지 기능 활성화 (Loki 3.x+)
    pattern_ingester:
      enabled: true # 로그 패턴 자동 감지 및 분석
---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: egov-monitoring
spec:
  ports:
    - name: http
      port: 3100
      protocol: TCP
      targetPort: 3100
  selector:
    app: loki
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: egov-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      securityContext:
        fsGroup: 10001
        runAsGroup: 10001
        runAsNonRoot: true
        runAsUser: 10001
      containers:
        - name: loki
          image: grafana/loki:3.2.2
          args:
            - -config.file=/etc/loki/loki.yaml
          ports:
            - containerPort: 3100
              name: http
            - containerPort: 9096
              name: grpc
          volumeMounts:
            - name: config
              mountPath: /etc/loki
            - name: storage
              mountPath: /data/loki
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 1
          livenessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 300
      volumes:
        - name: config
          configMap:
            name: loki
        - name: storage
          persistentVolumeClaim:
            claimName: loki-pvc-nfs
