# Local Path Provisioner PersistentVolumeClaim
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-pvc-local
  namespace: egov-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-path
